html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-user-select: none;
}

#toolbar {
    height: 23px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 23px;
    font-size: 0.8em;
}

#timespan {
    cursor: default;
}

.graph-block {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    height: 60px;
}

.graph-label {
    width: 99px;
    line-height: 60px;
    border-right: 1px solid #f4f4f4;
    text-indent: 10px;
    cursor: default;
    flex-shrink: 0;
}

.graph-last-value {
    width: 99px;
    border-left: 1px solid #f4f4f4;
    font-size: 1.4em;
    color: #666;
    line-height: 60px;
    text-align: center;
    -webkit-user-select: text;
    flex-shrink: 0;
}

.graph-block canvas {
    flex-grow: 1;
}
